<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <Section Name="ConversionSettings">
    <Parameter Name="BitRate" Value="" />
  </Section>
  <Section Name="ServiceBusSettings">
    <Parameter Name="ConnectionString" Value="" />
    <Parameter Name="AudioConversionQueueName" Value="" />
    <Parameter Name="YoutubeConversionQueueName" Value="" />
    <Parameter Name="AudioUploadingResultQueueName" Value="" />
  </Section>
  <Section Name="StorageSettings">
    <Parameter Name="ConnectionString" Value="" />
    <Parameter Name="AudioFilesContainerName" Value="" />
    <Parameter Name="UnprocessedAudioFilesContainerName" Value="" />
  </Section>
</Settings>
